body{
  background-color: white;
}

#sec1{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/css/imgstyle/backgd.jpg') top center;
  background-size: cover;
  min-height: 80vh;
}

#sec2{
  display: flex;
  flex-direction: column;
  margin: 3%;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 2%;
}

#sec3{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

#sec4 img {
  width: 100%;
}

#sec5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/css/imgstyle/gorilla.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  min-height: 80vh;
}

#sec6 img{
   object-fit: cover;
   max-height: 200px;
   width: 100%;
}



.sec6_img {
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding: 5%;
}

.container img {
  width: 100%;
}



/*-------------------------------
    Footer
--------------------------------*/

footer{
   background-color: #3C362A;
   color: #B8C4BB;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   padding: 40px 0;
   align-items: center;
 }

 #footer-3 a{
   color: #B8C4BB;
   text-decoration: none;
   transition: all .4s;
 }


 #footer-1 img{
   max-width: 200px;
 }

 #footer-2 li{
   padding: 8px 0;
   display: block;
 }

 #footer-3 li{
   padding: 8px 0;
   display: block;
 }
