body{
  background-color: white;

}

.sec1{

  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../css/img/01-snub-nosed-monkey.jpg') top center;
  background-size: cover;
  min-height: 92vh;

}


.sec2{
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  margin: 5%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 2%;
}

.sec3{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}


.sec4 img {
  width: 100%;
}


.sec5 {
  background-image: url('../css/img/inspired-2013-05-monkey-main.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;

}


.sec6 img {
  width: 100%;
}
.sec6_img {
  object-fit: cover;

}


.container{
  padding: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
}

.container img {
  padding: 3%;
}


.container img {
  width: 100%;
}

@media screen and (max-width: 414px) {
  body {
    background-color: #BEC5AD;
  }

}

@media screen and (min-width: 415px) and (max-width: 1419px){
  body {
    background-color: #AAC46D;
  }

}

@media screen and (min-width: 1420px) and (max-width: 1919px){
  body {
    background-color: #519872;
  }
}

@media screen and (min-width: 1920px) {
  body {
    background-color: #A4B494;
  }
}
