@media screen and (max-width: 414px) {
  body {
    background-color: #B8C4BB;
  }

  nav{
    height: 100px !important;
  }
}

@media screen and (min-width: 415px) and (max-width: 1419px){
  body {
    background-color: #E8F7EE;
  }
}

@media screen and (min-width: 1420px) and (max-width: 1919px){
  body {
    background-color: #B8C4BB;
  }
}

@media screen and (min-width: 1920px) {
  body {
    background-color: #E8F7EE;
  }
}
