/* .transform {
   transform: rotate(45deg) translate(24px, 25px);
}
/*

transform-origin: bottom right 60px; */

.transform1{
  animation: feuillejolie 10s ease ;
}

@keyframes feuillejolie {
  0% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(-30deg);
  }
}

/* https://css-tricks.com/almanac/properties/a/animation/ */
