.transform1 {
  animation: feuillette 4s ease infinite;
  position: absolute;
  margin-top: 30%;

}

@keyframes feuillette {
  0% {
    transform: skewX(20deg);
  }
  100% {transform: skewX(-20deg);
  }
}
